version: 2
updates:
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: weekly
    time: "06:00"
  open-pull-requests-limit: 10
  groups:
    docusaurus:
      patterns:
      - "@docusaurus/*"
    react:
      patterns:
      - "react"
      - "react-dom"
  target-branch: master
