/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #03a9f4;
  --ifm-color-primary-dark: #0398dc;
  --ifm-color-primary-darker: #0390cf;
  --ifm-color-primary-darkest: #0276ab;
  --ifm-color-primary-light: #14b4fc;
  --ifm-color-primary-lighter: #20b8fc;
  --ifm-color-primary-lightest: #44c3fd;
  --ifm-code-font-size: 95%;
}

.download-badges {
  line-height: 0px;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

table.core-table th{
  vertical-align: top;
}

table.core-table td:nth-child(n+2){
  text-align: center;
}

article img[src$='android.svg'],
article img[src$='apple.svg'] {
  display: inline;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 2ex;
}

html[data-theme='dark'] article img[alt='android'],
html[data-theme='dark'] article img[alt='iOS'],
html[data-theme='dark'] .invertDark {
  filter: invert(1.0)
}

.center_image {
  display:block;
  margin:auto;
}
