/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #03a9f4;
  --ifm-color-primary-dark: #0398dc;
  --ifm-color-primary-darker: #0390cf;
  --ifm-color-primary-darkest: #0276ab;
  --ifm-color-primary-light: #14b4fc;
  --ifm-color-primary-lighter: #20b8fc;
  --ifm-color-primary-lightest: #44c3fd;
  --ifm-code-font-size: 95%;
}

.download-badges {
  line-height: 0px;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

table.core-table th{
  vertical-align: top;
}

table.core-table td:nth-child(n+2){
  text-align: center;
}

article img[alt='iOS'], article img[alt='macOS'] {
  display: inline;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 0.75em;
}

article img[alt='Apple'] {
  display: inline;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 1em;
}

article img[alt='Android']{
  display: inline;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 1.2em;
}

html[data-theme='dark'] article img[alt='Android'],
html[data-theme='dark'] article img[alt='iOS'],
html[data-theme='dark'] article img[alt='macOS'],
html[data-theme='dark'] article img[alt='Apple'],
html[data-theme='dark'] .invertDark {
  filter: invert(1.0)
}

html[data-theme='dark'] article .admonition-note img[alt='Android'],
html[data-theme='dark'] article .admonition-info img[alt='Android'],
html[data-theme='dark'] article .admonition-note img[alt='iOS'],
html[data-theme='dark'] article .admonition-info img[alt='iOS'],
html[data-theme='dark'] article .admonition-note img[alt='macOS'],
html[data-theme='dark'] article .admonition-info img[alt='macOS'],
html[data-theme='dark'] article .admonition-note img[alt='Apple'],
html[data-theme='dark'] article .admonition-info img[alt='Apple'] {
  filter: invert(0.0)
}

.center_image {
  display:block;
  margin:auto;
}

.beta {
  color: #ed3a2d;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 80%;
}

.beta:empty:before {
  content: "BETA";
}

.admonition-info a code {
  color: var(--ifm-code-color);
  text-decoration: underline;
  text-decoration-color: var(--ifm-code-color);
}

.admonition-info a code:hover {
  text-decoration: underline;
  text-decoration-color: var(--ifm-code-background);
  
}

.download-badge {
  margin-left: auto;
  margin-right: auto;
  display: block;
}